@import "tailwindcss";

/* :root 是 Light 主题的全局变量（默认主题）。 */
:root {
  
}

/* DARK THEME */

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
}


body {
 
  font-family: Arial, Helvetica, sans-serif;
  @apply text-slate-300  bg-slate-900 selection:bg-teal-400 selection:text-teal-900;
}

h3 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  
}
p{
  line-height:1.7;
}

section{
  @apply scroll-mt-16 md:scroll-mt-24 ; 

}


/* @apply 不能用在普通 CSS 属性上
只能用 Tailwind 生成的工具类名，
比如 rounded、px-1.5、py-0.5、bg-blue-500 等等。 */

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
li{
    list-style: none;

}
